.advantages {
    @extend %section;
    
    @extend %list;
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    }
    &__list:not(:last-child) {
        margin-right: 30px;
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    
    &__item {
        background-color: #F5F4FA;
        width: 450px;
        height: 120px;
        padding: 25px 192px;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
            padding: 25px 142px;
            }

        @media screen and (min-width: 1200px) {
            width: 270px;
            padding: 25px 100px;
            }
    }
    
    &__icon {
        fill: currentColor;
    }
          
    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        text-transform: uppercase;
        text-align: center;
    @media screen and (min-width: 768px) {
        text-align: start;
    }
        
    }
    
    &__text {
        
        line-height: calc(24/14);
        
        color: var(--main-text-color);
    }

}

